registry="https://pkgs.d.xiaomi.net/artifactory/api/npm/mi-npm/"
sass_binary_site="https://pkgs.d.xiaomi.net/artifactory/npm-taobao-mirrors/node-sass/"
phantomjs_cdnurl="https://pkgs.d.xiaomi.net/artifactory/npm-taobao-mirrors/phantomjs/"
electron_mirror="https://pkgs.d.xiaomi.net/artifactory/npm-taobao-mirrors/electron/"
sqlite3_binary_host_mirror="https://pkgs.d.xiaomi.net/artifactory/npm-taobao-mirrors/sqlite3/"
profiler_binary_host_mirror="https://pkgs.d.xiaomi.net/artifactory/npm-taobao-mirrors/node-inspector/"
chromedriver_cdnurl="https://pkgs.d.xiaomi.net/artifactory/npm-taobao-mirrors/chromedriver"
sentrycli_cdnurl="https://pkgs.d.xiaomi.net/artifactory/npm-taobao-mirrors/sentry-cli"
